# Dependency directories
node_modules/
.pnp
.pnp.js
**/node_modules/

# Build outputs
.next/
out/
build/
dist/
**/dist/
**/.next/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env*.local
.env

# Git
.git/
.gitignore

# Tests
coverage/

# Misc
*.pem
*.tsbuildinfo
